ion-item {
  --ion-item-background: #efefef;
}

.top-container {
  height: 30rem;
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 23rem;
  top: 0;
  left: 0;
  background-color: #4364fa;
}

.rectangle .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  margin-top: 1rem;
  background-color: #ffffff;
}

.rectangle .heading .heading-text {
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #4364fa;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.rectangle .data-details {
  display: flex;
}

.rectangle .data-details .box {
  flex: 1;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

.rectangle .data-details .box .box-heading {
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.rectangle .data-details .box .details-box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 6.5rem;
  height: 2.5rem;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 30px;
  border: 1px solid;
  border-color: #ffffff;
}

.rectangle .data-details .box .details-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border-radius: 30px;
  border: 1px solid;
  border-color: #ffffff;
}

.rectangle .data-details .box .box-text {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal; 
}

.rectangle .data-details .box .details-box .vector-container {
}

.rectangle .data-details .box .details-box .vector {
  width: 10px;
}

.rectangle .data-details .box .box-text-small {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 0.6rem;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.data-usage-p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.usage-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usage-container .usage-details {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: 17rem;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
}

.usage-container .usage-details .usage-details-row {
  display: flex;
  flex-direction: row;
}

.usage-container .usage-details .usage-details-box {
  flex: 1;
  margin: 0.5rem;
  text-align: center;
}

.usage-details .usage-details-text {
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #4364fa;
  font-size: 0.8rem;
  letter-spacing: 0;
  line-height: normal;
}

.usage-details .usage-details-GB {
  color: #4364fa;
  font-size: 3rem;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.usage-details .usage-details-GB .usage-details-span {
  font-weight: 600;
}

.usage-details .usage-details-GB .usage-details-text-2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.usage-details .vertical-divider {
  width: 1px;
  background-color: #4364fa;
  margin: 3rem 0;
}

.usage-container .horizontal-divider {
  height: 0.1rem;
  width: 100%;
  background-color: #acacac;
}

.usage-container .upgrade-btn {
  text-align: center;
}

.usage-container .upgrade-text {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #4364fa;
  font-size: 0.8rem;
  letter-spacing: 0;
  line-height: normal;
}

.flags-content {
  margin-top: 2rem;
}
.flags-p {
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #4364fa;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.flags-list {
  text-align: center;
  margin: 0rem 1rem;
  padding: 1rem;
  background-color: #c9d1f7;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
}
.flags-list .flag {
  width: 2rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content .footer-text {
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
.footer-content .footer-text .footer-text-span-1 {
  color: #000000;
}
.footer-content .footer-text .footer-text-span-2 {
  color: #4364fa;
}

.footer-content .footer-group {
  position: absolute;
  width: 216px;
  height: 38px;
  top: 736px;
  left: 72px;
}

.footer-content .footer-image {
  width: 15rem;
}
