<ion-content [fullscreen]="true" >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="top-container pd-x-20">
    <div class="rectangle">
      <div class="heading">
        <img class="logo" width="126" src="assets/stellar-data-Logo.svg" alt="logo"/>
        <img (click)="presentAlert()" class="logo" src="assets/tabler-icon-logout.svg" alt="logo"/>
      </div>
      <div class="data-details" *ngIf="data !== null">
        <div class="box">
          <h2 class="box-heading">Sim ID: </h2>
          <div class="details-box">
            <ion-label class="box-text"> {{data.id}} </ion-label>
            <div class="vector-container" (click)="copy()">
              <img
                class="vector"
                src="assets/icon/copy_icon.svg"
                alt="Vector"
              />
            </div>
          </div>
        </div>
        <div class="box">
          <h2 class="box-heading">{{EXPIRES_AT}}</h2>
          <div class="details-box">
            <p class="box-text">{{data.expires_at}}</p>
          </div>
          <!-- <p class="box-text-small">{{data.days_until_expire}} Days</p> -->
        </div>
        <div class="box">
          <h2 class="box-heading">Account Number</h2>
          <div class="details-box">
            <p class="box-text">{{data.id}}</p>
          </div>
          <!-- <p class="box-text-small">{{data.days_until_expire}} Days</p> -->
        </div>
      </div>

    </div>

    <div class="usage-container" *ngIf="data !== null">
      <div class="single-chart">
        <svg viewBox="0 0 36 36" class="circular-chart green">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            [attr.stroke-dasharray]="strokes"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="18.35" class="usage_data">{{data.total_usage}} GB</text>
          <text x="18" y="22.35" class="total_data">Used from {{data.total_data}} GB</text>
        </svg>
        </div>
        <div class="data-usage-p">
          <span>Available to use:</span><p>{{data.remaining}}</p>
        </div>
        <div class="upgrade-btn" (click)="upgradePlan()">
          <p class="upgrade-text">{{UPGRADE_YOUR_PLAN}}</p>
        </div>

    </div>
  </div>
  <div class="flags-content" *ngIf="data !== null">

    <div class="flags-list" (click)="toggleModal()">
      <!-- <span *ngFor="let item of locations">
        <img src="assets/flags/{{item}}.svg" class="flag" />
      </span> -->
      <span *ngFor="let item of locations.slice(0, 3)">
        <img src="assets/flags/{{item}}.svg" class="flag" />
        <span>{{ getCountryFullName(item) }}</span>
      </span>
      <p class="flags-p">{{AVAILABLE_IN_COUNTRIES}}</p>

      <img src="assets/icon/right-arrow.svg" alt="arrow">
    </div>
  </div>

</ion-content>

<div class="modal-container" *ngIf="showModal" [ngClass]="{'slide-in-from-bottom': showModal}">
  <div class="modal-content">
    <div class="modal-header">
      <ion-toolbar>
        <div class="d-flex">
          <h6><strong>{{SUPPORTED_COUNTRIES}} ({{locations.length}})</strong></h6>
          <ion-buttons slot="end">
            <ion-button (click)="toggleModal()">{{SEARCH_CLOSE}}</ion-button>
          </ion-buttons>
        </div>

        <div class="contry_search">
          <img src="assets/icon/tabler-icon-search.svg" alt="search">
          <input type="text" placeholder="{{SEARCH_FOR_COUNTRY}}" [(ngModel)]="searchText" (input)="filterLocations()"/>
        </div>

      </ion-toolbar>
    </div>

   <div class="modal-body">
      <div class="country-list">
          <div *ngFor="let item of filteredLocations" class="country-item">
              <img src="assets/flags/{{item}}.svg" class="flag" />
              <span>{{ getCountryFullName(item) }}</span>
          </div>
      </div>
   </div>
  </div>
</div>
