/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* #### Generated By: http://font.download #### */

@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Regular'), url('/assets/fonts/poppins-webfont/Poppins-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Italic'), url('/assets/fonts/poppins-webfont/Poppins-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Thin'), url('/assets/fonts/poppins-webfont/Poppins-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Thin Italic'), url('/assets/fonts/poppins-webfont/Poppins-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraLight'), url('/assets/fonts/poppins-webfont/Poppins-ExtraLight.woff') format('woff');
}


@font-face {
  font-family: 'Poppins ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraLight Italic'), url('/assets/fonts/poppins-webfont/Poppins-ExtraLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Light';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Light'), url('/assets/fonts/poppins-webfont/Poppins-Light.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Light Italic'), url('/assets/fonts/poppins-webfont/Poppins-LightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Medium'), url('/assets/fonts/poppins-webfont/Poppins-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Medium Italic'), url('/assets/fonts/poppins-webfont/Poppins-MediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins SemiBold'), url('/assets/fonts/poppins-webfont/Poppins-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins SemiBold Italic'), url('/assets/fonts/poppins-webfont/Poppins-SemiBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Bold'), url('/assets/fonts/poppins-webfont/Poppins-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Bold Italic'), url('/assets/fonts/poppins-webfont/Poppins-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraBold'), url('/assets/fonts/poppins-webfont/Poppins-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'Poppins ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins ExtraBold Italic'), url('/assets/fonts/poppins-webfont/Poppins-ExtraBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Black';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Black'), url('/assets/fonts/poppins-webfont/Poppins-Black.woff') format('woff');
}


@font-face {
  font-family: 'Poppins Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Black Italic'), url('/assets/fonts/poppins-webfont/Poppins-BlackItalic.woff') format('woff');
}

ion-content{
    background-color: #2152D4;
    --background: #2152D4;
    --color: #0B0C19;
    font-family: "Poppins", sans-serif;
}
.pd-x-20{
    padding: 0 20px;
}
.general-popup{
    .alert-wrapper{
        border-radius: 24px;
        padding: 16px;
        min-width: 318px;
        /* font-family: 'Poppins'; */
        font-family: "Poppins", sans-serif;
      .alert-head{
        text-align: center;
        padding: 6px;
        font-size: 20px;
        h2{
    font-weight: 700;
        }
      }
      .alert-message{
        font-size: 14px;
        text-align: center;
      }
      .alert-button-group{
        border-top: 1px solid gainsboro;
        margin-top: 5px;
        .alert-button{
            font-size: 14px;
            text-transform: capitalize;
            color: #2761FC;
            font-weight: 600;
            &.secondary{
                color: #62626A;
            }
        }
      }
    }
  }
  .loader-popup{
    .loading-wrapper {
        flex-direction: column;
        border-radius: 24px !important;
        min-width: 318px !important;
        min-height: 165px !important;
        gap: 20px;

        .loading-content {
            font-size: 20px;
            font-weight: 700;
        }
        ion-spinner{
            --width: 36px;
            --height: 36px;
        }
    }
  }
